{% extends "base_generic.html" %}
{% block content %}

    <script language="javascript">
    var mcount = 1;
    var ecount = 1;
    /*
    function init(){
        document.getElementById('moreFields').onclick = moreFields;
        moreFields();
    }
    */


    function moreFields(name){
        var count = 0;
        if(name=="material"){
            mcount++;
            count = mcount;
        }
        else{
            ecount++;
            count = ecount;
        }
        var newFields = document.getElementById(name+'-readroot').cloneNode(true);
        newFields.id = name+"row-"+count;
        var newField = newFields.childNodes;
        for (var i=0;i<newField.length;i++) {
            var theName = newField[i].name
            if (theName){
               newField[i].name = theName + "-" + count;
            }
        }
        var insertHere = document.getElementById(name+'-writeroot');
    	insertHere.parentNode.insertBefore(newFields,insertHere);
    }

    function lessFields(name){
        var count = 2;
        if(name=="material"){
            if(mcount>1){
                count = mcount;
                mcount--;
            }
        }
        else{
            if(ecount>1){
                count = ecount;
                ecount--;
            }
        }
        var rmFields = document.getElementById(name+'row-'+count);
        rmFields.remove();
    }


    </script>

    <h2>Carbon Emission Estimator</h2>

    <br>

    <form name = "form" method = "POST" >{% csrf_token %}

        <div id="life">
        <label for="life">Anticipated Service Life (Year)</label>
        <input type = "text"  placeholder = "0" value = "0" name = "life"  oninput="this.value=this.value.replace(/[^0-9\.]/g,'')"/>
        </div>

        <br>

        <div id="area">
        <label for="area">Area (m<sup>2</sup>)</label>
        <input type = "text"  placeholder = "0" value = "0" name = "area"  oninput="this.value=this.value.replace(/[^0-9\.]/g,'')"/>
        </div>

        <br>

        <h3>Building Material</h3>

        <br>

        <div class = "content-container" id = 'material-input'>
            <div class = "material-row headers">
               <div class = "material-name">Material Type</div>
               <div class = "material-volume">Material Volume</div>
               <div class = "material-trans">Transportation Methods</div>
            </div>
            <div class = "material-row" id="material-readroot">
               <select name = "id-material" class = "material-name"  value="1"/>
               {% for material in material_list %}
                  <option value = "{{material.id}}">{{material.name}} ({{material.unit}})</option>
               {% endfor %}
               </select>
               <input type = "text" class = "material-volume"  placeholder = "0" value = "0" name = "volume-material" oninput="this.value=this.value.replace(/[^0-9\.]/g,'')"/>
                <select name = "trans-material" class = "material-trans"  value="1"/>
                {% for transportation in transportation_list %}
                    <option value = "{{transportation.id}}">{{transportation.name}}
                    {% if transportation.volume == 0 %} {%else%} ({{transportation.volume}}{{transportation.unit}}){% endif %}
                    </option>
                {% endfor %}
                </select>
            </div>
            <span id="material-writeroot"></span>
            <div class = "addrm-row">
                <a href='#' id="moreEnergy" class="add" onclick="moreFields('material')">Add New Material</a>
                <a href='#' id="lessMaterials" class="rm" onclick="lessFields('material')">Remove Material</a>
            </div>
         </div>

         <br>

        <h3>Energy Usage</h3>

        <br>

        <div class = "content-container" id = 'cons-energy-input'>
            <div class = "energy-row  headers">
               <div class = "energy-name">Energy Type</div>
               <div class = "energy-volume">Energy Usage Volume (Unit: TJ)</div>
            </div>
            <div class = "energy-row  headers">
               <div class = "cons-energy-volume">Construction Stage</div>
               <div class = "opt-energy-volume">Operation Stage (Annual)</div>
               <div class = "dml-energy-volume">Demolition Stage</div>
            </div>
            <div class = "energy-row" id="energy-readroot">
                <select name = "id-energy" class = "energy-name"  value="1"/>
                {% for energy in energy_list %}
                  <option value = "{{energy.id}}">{{energy.name}} ({{energy.unit}})</option>
                {% endfor %}
                <input type = "text" class = "cons-energy-volume" placeholder = "0" value = "0" name = "volume-cons-energy" oninput="this.value=this.value.replace(/[^0-9\.]/g,'')"/>
                <input type = "text" class = "opt-energy-volume" placeholder = "0" value = "0" name = "volume-opt-energy" oninput="this.value=this.value.replace(/[^0-9\.]/g,'')"/>
                <input type = "text" class = "dml-energy-volume" placeholder = "0" value = "0" name = "volume-dml-energy" oninput="this.value=this.value.replace(/[^0-9\.]/g,'')"/>
            </div>
            <span id="energy-writeroot"></span>
            <div class = "addrm-row">
                <a href='#energy-writeroot' id="moreEnergy" class="add" onclick="moreFields('energy')">Add New Energy</a>
                <a href='#energy-writeroot' id="lessEnergy" class="rm" onclick="lessFields('energy')">Remove Energy</a>
            </div>
        </div>
        <p><strong>Notice: 1 tJ = 2.7778 &#215 10<sup>5</sup> kWh </strong></strong></p>

        <br>

        <div style = "width:80%;">
            <center>

               <button style = "border:0px; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%;margin-left:19%;" type = "submit"
                  value = "Evaluate" >
                  <strong>Evaluate</strong>
               </button>

            </center>
         </div>

      </form>


{% endblock %}
