{% extends "base_generic.html" %}

{% block content %}
    <h1>Material List</h1>
    <div class="search-div" >
        <!-- https://www.w3schools.com/howto/howto_css_search_button.asp -->
        <form>
            <input type="text" placeholder="Search.." name="search"
            {% if search %} value="{{ search }}" {% endif %}
            >
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    {% if material_list %}
        <table border="3" cellspacing="10" id = "material-table">
            <tr>
                <th></th> <th>Material Name</th> <th> Unit </th> <th>Carbon Emission Factor</th> <th>Carbon Emission Factor Unit</th> <th>Equivalent Mass (t)</th>
            </tr>
        {% for material in material_list %}
            <tr>
            <td>{{ material.id }}</td> <td>{{ material.name }}</td> <td>{{material.unit}}</td> <td>{{material.carbon_emission_factor}} </td>
            <td>kg CO<sub>2</sub> e/{{material.unit}}</td> <td>{{material.equivalent_mass}} </td>
            </tr>
        {% endfor %}
        </table>
        <p><strong>Notice:</strong></p>
        <ul>
            <li>For materials with "t" as the unit, the Equivalent Mass is 1. </li>
            <li>For materials whose unit is not "t", Equivalent Mass refers to the constant that convert the unit to "t".</li>
        <ul>
    {% else %}
        <p>There are no materials {% if search %}related to {{ search }} {% endif %}in the Database.</p>
    {% endif %}
{% endblock %}