{% extends "base_generic.html" %}

{% block content %}
    <h1>Transportation List</h1>
    <div class="search-div" >
        <!-- https://www.w3schools.com/howto/howto_css_search_button.asp -->
        <form>
            <input type="text" placeholder="Search.." name="search"
            {% if search %} value="{{ search }}" {% endif %}
            >
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    {% if transportation_list %}
        <table border="3" cellspacing="10">
            <tr>
                <th></th> <th>Transportation Method</th> <th> Volume </th> <th>Carbon Emssion Factor (kg CO<sub>2</sub> e/(t&middot km))</th>
            </tr>
        {% for trans in transportation_list %}
            <tr>
            <td>{{ trans.id }}</td> <td>{{ trans.name }}</td> <td>{% if trans.volume == 0 %}Unlimited{%else%}{{trans.volume}}{{trans.unit}}{% endif %}</td>
            <td>{{trans.carbon_emission_factor}} </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>There are no Transportation Methods {% if search %}related to {{ search }}{% endif %} in the Database.</p>
    {% endif %}
{% endblock %}