<!DOCTYPE html>
<html>
<head>
<!-- Edit dj4e-samples/settings.py and add APP_NAME = 'DJ4E Samples' or similar -->
<title>{% block title %}Carbon Emission Estimation System{% endblock %}</title>

<!-- Replace this value (42-42) with the one provided by the autograder -->

<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    crossorigin="anonymous">

<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css"
    crossorigin="anonymous">

<link rel="stylesheet"
    href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css"
     crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"
    crossorigin="anonymous"></script>

<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/v4-shims.css">

{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/html5reset.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block head %} {% endblock %}

</head>
<body>
    <main>
        <nav class="navbar navbar-default navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Carbon Emission Estimation System</a>
            </div>
            <!-- https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page -->
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Database<b class="caret"></b></a>

                    <ul class="dropdown-menu">
                        <li><a href="{% url 'materials' %}">Materials</a></li>
                        <li><a href="{% url 'transportation' %}">Transportation</a></li>
                        <li><a href="{% url 'energy' %}">Energy</a></li>
                        <li><a href="{% url 'machine' %}">Machine</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Carbon Emission Estimators<b class="caret"></b></a>

                    <ul class="dropdown-menu">
                        <li><a href="{% url 'estimators' %}">Life Cycle Estimator</a></li>
                        <li><a href="{% url 'realtime' %}">Real-Time Estimator</a></li>
                    </ul>
                </li>
            </ul>
          </div>
        </nav>
        <div class="container">
            {% block welcome %} {% endblock %}
            {% block messages %}
            {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{msg.level_tag}}" role="alert">
                {{msg.message}}
                </div>
            {% endfor %}
            {% endif %}
            {% endblock %}
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <h2>Ever Green &copy; 2022</h2>
    </footer>
</body>
</html>